<%= div_for question do %>
  <h2><%= link_to_unless_current question.title, question %></h2>
  <%= simple_format question.body %>
  <em>added by <%= link_to question.user.username, question.user %></em>
<% end %>