<p id="notice"><%= notice %></p>

<p>
  <h2><b>Title:</b>
  <%= @question.title %></h2>
</p>

<p>
  <b>Body:</b>
  <%= @question.body %>
</p>


<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>

<h5>Question Comments</h5>

<div id="comments">
  <%= render @question.comments %>
</div>

<h6>New Comment</h6>

<%= render 'comments/form' %>

<h3>Answers</h3>

<div id="answers">
  <%= render @question.answers %>
</div>

<h4>New Answer</h4>

<%= render 'answers/form' %>




