<section id="deviseauth">
    <h2>Authentication Services - Setting</h2>

    <div id="currservices">
        <h3>The following <%= @services.count == 1 ? 'account is' : 'accounts are' %> connected with your local account:</h3>
    
        <ul class="services_used">  
          <% @services.each do |service| %>  
            <li class = "service">
              <div>Service: <%= service.provider.capitalize %></div> 
              <div>Name: <%= service.uname %> (ID: <%= service.uid %>)</div>  
              <div>Email: <%= service.uemail != '' ? service.uemail : 'not set' %></div>
              <div>
                <% @services.count == 1 ? @msg = 'Removing the last account linked might lock you out of your account if you do not know the email/password sign-in of your local account!' : @msg = '' %>
                <%= link_to "Remove this service", service,
                  :confirm => 'Are you sure you want to remove this authentication service? ' + @msg,
                  :method => :delete,
                  :class => "remove" %>
              </div>
            </li>
          <% end %>
        </ul>  
    </div>

    <div id="availableservices">
        <h3>You can connect more services to your account:</h3>
        <%= render "devise/shared/omniauth_links" %>
        
        <h4>If you signed-up via an authentication service, a random password has been set for the local password. You can request a new password using the "Forgot your Password?" link on the sign-in page.</h4>
    </div>  
</section>