<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div><%= f.label :name %><br />
  <%= f.text_field :name, :autofocus => true %></div>

  <div><%= f.label :profile_image_url %><br />
  <%= f.url_field :profile_image_url %></div>

  <div><%= f.label :birthdate %><br />
  <%= f.date_select :birthdate, 
    {:start_year => Time.now.year,
     :end_year => 1900,
     :order => [:day, :month, :year],
     :prompt => {:month => 'Month', :day => 'Day', :year => 'Year'}}
   %>

  <div><%= f.label :website %><br />
  <%= f.url_field :website %></div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
