<h1>Listing profiles</h1>

<table>
  <tr>
    <th>id</th>
    <th>name</th>
    <th>profile image url</th>
    <th>birthdate</th>
    <th>website</th>
    <th>user_id</th>
    <th></th>
    <th></th>
  </tr>

<% @profiles.each do |profile| %>
  <tr>
    <td><%= profile.id %></td>
    <td><%= profile.name %></td>
    <td><%= profile.profile_image_url %></td>
    <td><%= profile.birthdate %></td>
    <td><%= profile.website %></td>
    <td><%= profile.user_id %></td>
    <td><%= link_to 'Show', profile %></td>
    <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
  </tr>
<% end %>
</table>