ID: <%= @profile.id %>
Name: <%= @profile.name %>
Profile Image URL: <%= @profile.profile_image_url %>
Birthdate: <%= @profile.birthdate %>
Website: <%= @profile.website %>
User_ID: <%= @profile.user_id %>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
