<%= div_for answer do %>
  <p><strong><%= link_to answer.user.profile.name, answer.user %> says</strong></p>
  <%= simple_format answer.body %>
  <% if answer.user == current_user %>
    <p>
      <%= link_to 'Edit',  edit_question_answer_path(@question, answer) %> |
      <%= link_to "Delete", [@question, answer], method: :delete %>
    </p>
  <% end %>
<% end %>