<!DOCTYPE html>
<html>
<head>
  <title>Perguntas Universitárias</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body>

<header>
  <div class="navbar navbar-static-top">
    <div class="navbar-inner">
          <%= link_to "Perguntas Universitárias", root_path, :class => 'brand' %>

          <ul class="nav pull-right">
            <li>
              <form class="navbar-search">
                <input type="text" class="search-query" placeholder="Pesquisar">
              </form>
            </li>
            <li class="divider-vertical"></li>
            <li><a href="/users/login" class="pull-right">Login</a></li>
            <li class="divider-vertical"></li>
            <li><a href="/users/sign_up" class="pull-right">Registrar-se</a></li>
          </ul>
    </div>
  </div>
</header>

  <% if current_user %>
    <%= link_to 'Edit account', edit_user_registration_path %> |
    <%= link_to 'Edit profile', edit_profile_path(current_user) %> |
    <%= link_to 'Edit login services', services_index_path %> |
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <br>
    Logged in as <strong><%= current_user.profile ? current_user.profile.name : current_user.username %></strong>. 
  <% end %>

  <%= render 'layouts/messages' %>
  <%= yield %>

</body>
</html>
